body {
  margin: 0px;
  padding: 0px;
  background-color: #e6e9ee !important;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.text-right {
  justify-content: flex-end;
}
.text-center {
  text-align: center;
}
.nodecoration {
  text-decoration: none;
  color: inherit;
}
.nodecoration:hover {
  color: #ae0f0f;
}
.no-hover:hover {
  color: inherit !important;
}
a {
  color: #ae0f0f;
  text-decoration: none;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
.appTitle {
  font-weight: normal;
  text-transform: uppercase !important;
  position: relative;
  text-transform: none !important;
  font-size: 28px;
}
.appTitle:hover {
  color: inherit !important;
}
.error-text {
  color: #f44336 !important;
}

.dialoge-width {
  width: 500px;
}
.hide-mobile {
  display: inherit;
}
.only-mobile {
  display: none;
}
.short-logo {
  height: 47px;
  margin-top: 5px;
}
.text-logo {
  width: 494px;
  margin-left: 10px;
}
.mobile-logo {
  width: 175px;
  margin-left: 10px;
}
.auth-logo {
  height: 100px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  .dialoge-width {
    width: 100%;
  }
  .hide-mobile {
    display: none !important;
  }
  .only-mobile {
    display: inherit;
  }
  .MuiDialog-paperScrollPaper {
    width: 100% !important;
  }
  .MuiDialog-paper {
    margin: 15px !important;
  }
  .mobile-d-coulmn {
    flex-direction: column;
  }
}
.disable-select {
  user-select: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  cursor: move !important;
}
.MuiCardContent-root {
  padding: 0px 16px !important;
}
.MuiCardActions-root {
  padding: 0px 8px !important;
}
.MuiExpansionPanel-root.Mui-disabled {
  background-color: white !important;
}

.pin-img {
  height: 19px;
  padding: 2px;
  transform: rotate(90deg);
}
/* .custom-placeholder{
  background-color: transparent;
  height: 200px;
  border-radius: 5px;
  width: 100%;
  margin-top: 20px;
  border-radius: 5px;
  border: solid 2px #e6e9ee;
} */
.dragged {
  z-index: 9999;
}
.placeholder {
  border: dashed 2px #e6e9ee;
  margin-top: 20px;
  background-color: transparent !important;
  transform: scaleX(1.02) scaleY(1.09);
}
.placeholder div {
  opacity: 0 !important;
  background-color: transparent !important;
}
.d-flex {
  display: flex;
}
.flex-space-between {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
.pl-10 {
  padding-left: 10px;
}
.grey {
  color: grey;
}
.lh-3 {
  line-height: 3;
}

.badge {
  color: white;
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 5px;
}
.badge-green {
  background-color: green;
}

.badge-red {
  background-color: #dc3545;
}
.badge-green {
  background-color: green;
}
.badge-blue {
  background-color: #4f4bd8;
}
.student-data-list {
  background-color: white;
  border: solid 1px;
  font-size: 1rem;
}
.stats {
  display: flex;
  justify-content: space-between;
}
.f-50 {
  font-size: 50px;
}
.f-16 {
  font-size: 16px;
  color: #545454;
}
.minutes {
  width: 50px;
  text-align: right;
}
@media only screen and (max-width: 600px) {
  .ticket-history {
    margin: 5px 0px;
  }
}
@media only screen and (max-width: 600px) {
  .manage-users {
    margin-top: 10px !important;
  }
}
.completed-by {
  color: grey;
  font-size: 12px;
}
